@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --heading-bg-color: #eeeeee;
  --header-sidebar-bg-color: #141d38;
  --text-color: #3c4059;
  --secondary-text-color: #ffffff;
  --border-color: #babed8;
  --table-th-bg-color: #eceff3;
  --pag-bg-color: #fe660c;
  --table-striped-bg-color: #eceff3;
  --lang-text-font-weight: 500;
  --lang-text-font-size: 14px;
  --lang-text-font-lh: 16.41px;
  --heading-font-weight: 700;
  --heading-font-size: 22px;
  --heading-font-lh: 33px;
  --card-text-title-weight: 500;
  --card-text-title-size: 16px;
  --card-text-title-lh: 24px;
  --label-text-weight: 500;
  --label-text-size: 14px;
  --label-text-lh: 21px;
  --th-text-weight: 500;
  --th-text-size: 11px;
  --th-text-lh: 12.89px;
  --td-text-weight: 400;
  --td-text-size: 10px;
  --td-text-lh: 11.72px;
  --btn-search-text-weight: 500;
  --btn-search-text-size: 12px;
  --btn-search-text-lh: 18px;
  --pag-text-weight: 400;
  --pag-text-size: 12px;
  --pag-text-lh: 14.06px;
  --pag-btn-text-weight: 400;
  --pag-btn-text-size: 13px;
  --pag-btn-text-lh: 15.23px;
  --search-po-card-width: 640px;
  --search-po-card-height: 273px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar */
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Header */
.header {
  background-color: #141d38;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px;
}

.header nav {
  display: flex;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-btn {
  background: none;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.user-dropdown-btn:hover {
  background-color: #3c4059;
}

/* Dropdown content */
.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #141d38;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #3c4059;
  border-radius: 5px;
  right: 1px;
  top: 50px;
}

.user-dropdown-content .submenu {
  background-color: white;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  border-bottom: 1px solid #ddd;
}

.user-dropdown-content .submenu:last-child {
  border-bottom: none;
}

/* Hover effect on links */
.user-dropdown-content .submenu:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.user-dropdown:hover .user-dropdown-content {
  display: block;
}

.btn-togg-drop {
  background: none;
  color: white;
  border: none;
  box-sizing: border-box;
}

.btn-togg-drop:hover {
  background-color: #3c4059;
  border: 1px solid #141d38;
}

.dashboard-heading {
  background-color: #eeeeee;
  color: #3c4059;
  padding: 15px 20px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

header {
  background-color: var(--header-sidebar-bg-color);
}

.lang-text,
.dropdown-item,
.submenu {
  font-size: var(--lang-text-font-size);
  line-height: var(--lang-text-font-lh);
  font-weight: var(--lang-text-font-weight);
}

h3 {
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size);
  line-height: var(--heading-font-lh);
  color: var(--heading-bg-color);
  margin-left: 10px;
}

.title-text {
  font-weight: var(--card-text-title-weight);
  font-size: var(--card-text-title-size);
  line-height: var(--card-text-title-lh);
}

.card-inside-text {
  font-weight: var(--label-text-weight);
  font-size: var(--label-text-size);
  line-height: var(--label-text-font-lh);
}

.search-btn {
  width: 118px;
  height: 40px;
  border: 1px solid var(--border-color);
  background: var(--secondary-text-color);
  margin-bottom: 10px;
}

.nav-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

nav .btn {
  background-color: #141d38;
  border: none;
}

nav span a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li {
  margin-top: 20px;
}

aside nav {
  width: auto;
  padding: 0;
  margin: 0;
}

i {
  color: #141d38;
}
